html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

/* =14px */
h1 {
  font-size: 2.4rem;
}

.left {
  width: 66.1%;
  padding: 1.2em 7.8%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}

header {
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  margin-bottom: 1em;
  
}

header nav {
  margin-left: auto;
}

header a{
  margin-left: .8em;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  list-style-type: none;
}

/* =24px */
.info-card-container {
  width: 100%;
  min-height: 100%;
  height: 83rem;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#fac916), color-stop(70%, #fac916), color-stop(70%, #fff), to(#fff));
  background: linear-gradient(to right, #fac916 0%, #fac916 70%, #fff 70%, #fff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$white', endColorstr='$white',GradientType=1 );
  /* IE6-9 */
  position: relative;
}

.info-card {
  min-width: 80%;
  max-width: 90rem;
  min-height: 70%;
  height: 70rem;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  box-shadow: 0.01rem 0.01rem 1rem #0C1B23;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.info-card__content {
  float: left;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.info-card__image-exposure {
  width: 45%;
}

.info-card__bio {
  width: 40%;
  padding: 5rem;
  height: auto;
  font-family: 'Domine', serif;
}
.info-card__bio--title {
  color: #141D1D;
  font-size: 3.5rem;
  font-weight: 300;
}
.info-card__bio--copy {
  color: #9da09f;
  line-height: 2;
}

.info-card__image-exposure__item {
  background-image: url(img/dance.jpg);
  background-color: #fff;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: inline-block;
  position: absolute;
  opacity: 0.9;
}

.info-card__image-exposure--blend {
  background-repeat: no-repeat;
  background-color: #fff;
  mix-blend-mode: soft-light;
  background-position: -5rem;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  -webkit-animation: blendAnimate 30s linear infinite;
          animation: blendAnimate 30s linear infinite;
}

.close {
  width: 2rem;
  height: 0.25rem;
  background-color: #000;
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}
.close:before {
  content: '';
  display: block;
  width: 2rem;
  height: 0.25rem;
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@-webkit-keyframes blendAnimate {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0;
  }
}

@keyframes blendAnimate {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0;
  }
}
