*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #FFF;
}

body {
  font-size: 16px;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #a80b0b;
}

.logo{
    margin-left: -60px;
    margin-top: -5px;
}

h1 {
  text-transform: uppercase;
  font-size: 9em;
  font-weight: normal;
  word-spacing: 100vw;
  line-height: 1;
  margin: 0 0 .2em 0;
}

a{
  color: #FFF;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover{
  text-decoration: underline;
}

p {
  display: flex;
  font-family: sans-serif;
  font-size: .85em;
  line-height: 1.4em;
  flex: 0 0 25em;
  align-self: flex-end;
  margin-left: auto;
}

.left {
  width: 66.1%;
  padding: 1.2em 7.8%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.right {
  width: 33.9%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.right img {
  display:  block;
  width: 100%;
      object-fit: cover;
}

header {
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  margin-bottom: 1em;
  
}

header nav {
  margin-left: auto;
}

header a{
  margin-left: .8em;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  list-style-type: none;
}

section {
  align-self: flex-end;
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
}

.bottom {
  align-self: flex-end;
  flex: 0 0 100%;
  display: flex;
  padding: 1.2em 0;
}

.bottom a {
  margin-right: 0.8em;
}

